<% provide(:title, 'All users') %>
<h1>Get Data From Yahoo Shopping</h1>
<div align="center">
	<form action="<%= @getdata %>" method="POST">
		<button class="btn btn-large btn-primary" type="submit">Start Get Data</button>
	</form>
</div>