<% provide(:title, "Home page") %> 
<div class="span9" style="float:right">
	<%= render 'shared/newproducts' %>
</div>

<% provide(:title, "Home page") %>
<div class="span9" style="float:right">
  <%= render 'shared/newproducts' %>
</div>


          <!--code by Tan----------------------------------------------------->

<div style="position: absolute; left: 75px; top: 100px; width: 100px"><!--Begin Share like -->

          <!--like facebook-->

          <!--<div style="position: absolute; left: 50px; top: 100px">-->
          <div style="position: relative">
              <a addthis:url="http://localhost:3000/" fb:like:layout="box_count" class="addthis_button_facebook_like at300b">
                <iframe style="overflow: hidden; border: 0px none; width: 55px; height: 65px;" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhttp://localhost:3000/&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;layout=box_count">
                </iframe>
              </a>
          </div>

          <br>
          <!--like tweet-->

          <!--<div style="position: absolute; left: 50px; top: 180px">-->
          <div style="position: relative">
              <a addthis:url="http://localhost:3000/" tw:count="vertical" class="addthis_button_tweet at300b">
                <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1366232305.html#_=1366426902915&amp;count=vertical&amp;counturl=http%3A%2F%2Fhttp://localhost:3000&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fhttp://localhost:3000/%2F&amp;size=m&amp;text=http://localhost:3000%20%7C%20Trang%20web%20t%C3%ACm%20ki%E1%BA%BFm%20vi%E1%BB%87c%20l%C3%A0m%20s%E1%BB%91%201%20t%E1%BA%A1i%20Vi%E1%BB%87t%20Nam%3A&amp;url=http%3A%2F%2Fhttp://localhost:3000/%2F%23.UXIFFJ_34xU.twitter" class="twitter-share-button twitter-count-vertical" style="width: 58px; height: 62px;" title="Twitter Tweet Button" data-twttr-rendered="true">
                </iframe>
              </a>
          </div>

          <br>
          <!--like google+-->

          <div style="position: relative">
             <script type="text/javascript">
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
            <g:plusone data-href="http://localhost:3000/" size="tall" annotation="bubble"></g:plusone>
          </div>

          <br>
          <!--like Share-->

          <!--<div style="position: absolute; left: 50px; top: 340px">-->
          <div style="position: relative">
              <a addthis:url="http://localhost:3000/" li:counter="top" class="addthis_button_linkedin_counter at300b">
                <iframe scrolling="no" frameborder="0" style="width:57px; height:55px;" scrollbars="no" allowtransparency="true" role="presentation" src="//ct1.addthis.com/static/r07/linkedin020.html#href=http%3A%2F%2Fhttp://localhost:3000&amp;dr=&amp;conf=product%3Dtbx-300%26url%3Dhttp%253A%252F%252Fjobbox.vn%26username%3Dundefined%26pubid%3Dundefined&amp;share=url%3Dhttp%253A%252F%252Fhttp://localhost:3000%26imp_url%3D0%26title%3Dhttp://localhost:3000%2520%257C%2520Trang%2520web%2520t%25C3%25ACm%2520ki%25E1%25BA%25BFm%2520vi%25E1%25BB%2587c%2520l%25C3%25A0m%2520s%25E1%25BB%2591%25201%2520t%25E1%25BA%25A1i%2520Vi%25E1%25BB%2587t%2520Nam%26smd%3Drsi%253D%2526rxi%253Dundefined%2526gen%253D0%2526rsc%253D%2526dr%253D%2526sta%253DAT-undefined%25252F-%25252F-%25252F5172051435420011%25252F1%26passthrough%3Dlinkedin%253Dcounter%25253Dtop&amp;li=counter%3Dtop%26height%3D55%26width%3D57">
                </iframe>
              </a>
          </div>


</div><!--End Share like -->

        <!--end code by Tan----------------------------------------------------->